body {
  background-color: black;
  align-items: center;
  color: black;
  font-family: Arial;
}

.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  height: 150px;
  padding: 20px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 32px;
  color: grey;
  text-align: center;
  font-family: verdana;
}
