body {
  background-color: black;
  align-items: center;
  color: black;
  font-family: Arial;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  height: auto;
  padding: 14px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  
}

div2 {
  margin-left: 100px;
  word-spacing: 54px;
}

divi2 {
  word-spacing: 18px;
}

div3 {
  line-height: 3;
  margin-left: 100px;
  display: block;
}

divi4 {
  word-spacing: 20px;
}

p {
  display: inline;
}

div4 {
  margin-left: 100px;
}

button {
  margin-left: 100px;
}

p4 {
  margin-left: 100px;
  display: inline-block;
}

h1 {
  font-size: 32px;
  color: grey;
  text-align: center;
  font-family: verdana;
  margin-top: 25px;
  line-height: 60px;
}
